<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

	<a href="toadd">添加</a><br>
	
	<form id="sf" style="border:1px solid red;padding:5px;" method="get" action="page">
		订单编号：<input name="NO" th:value="${o.NO}"><br>
		订单状态：<input name="status" th:value="${o.status}"><br>
	
		当前页:<input id="pn" name="pn" th:value="${page.number+1}"><br>
		每页长度:<input name="ps" th:value="${page.size}"><br>
		 <input type="submit" value="查询">
	</form>
	
	<script>
		function go(p){
			//1 修改当前页码值
			document.getElementById("pn").value=p;
			//2 提交表单
			document.getElementById("sf").submit();
		}
	</script>
	
	<div th:include="common/pager :: bar"></div>
	
    <table  border="1">
        <tr>
            <th>ID</th>
            <th>NO</th>
            <th>dt</th>
            <th>status</th>
        </tr>
        <tr th:each="o : ${page.content}">
            <td th:text="${o.id}">1</td>
            <td th:text="${o.NO}">海</td>
            <td th:text="${o.dt}">18</td>
            <td th:text="${o.status}">18</td>
        </tr>
    </table>
</body>
</html>